<mat-toolbar color="primary">
    <div id="logo">
        <a href="#home-section" color="primary">
            <img src="../../assets/img/pokemon-trainer-pokemon-svgrepo-com.svg"> <span> MyDEX</span>
        </a>
    </div>
    <div id="navlinks">
        <a href=""><mat-icon>search</mat-icon></a>
        <a href=""><mat-icon>groups</mat-icon></a>
    </div>
</mat-toolbar>
<div id="home-section"></div>
<!-- <app-team-planner></app-team-planner> -->
<!-- <app-search-bar></app-search-bar> -->
<app-pokemon-list></app-pokemon-list>